/* =========================
SIDEBAR
========================= */

.sidebar{
width:300px;
background:#cb7575;
display:flex;
flex-direction:column;
padding:20px;
transition:.3s ease;
overflow:hidden;
color:white;
}

.sidebar.hidden{
width:0;
padding:0;
}

.sidebar-header{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:25px;
}

.logo{
width:260px;
height:auto;
display:block;
object-fit:contain;
transition:.3s;
}

.logo:hover{
transform:scale(1.03);
}

/* =========================
HEADER
========================= */

.chat-header{
height:85px;
background:#cb7575;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
}

.left-header{
display:flex;
align-items:center;
gap:15px;
}

.brand{
display:flex;
align-items:center;
justify-content:center;
}

.header-logo{
width:180px;
height:auto;
display:block;
object-fit:contain;
}
